@media screen and (max-width: 1700px){
    .section-products .products{max-width: 900px;}
}
@media screen and (max-width: 859px){
    h1, h2{
        font-size: 25px;
        letter-spacing: 0.8px;
    }
    .header .logo {
        width: 132px;
        height: 74px;
        transform: translate(-50%, -65%);
    }
    .header .arrow{display: block;}
    .slide .slick-dots {bottom: 2px;}

/* section-text */
    .section-text{
        color: #ffffff;
        background: #303C49;
        padding: 30px 42px 41px;
    }
    .section-text .wrap-section-text{
        font-size: 12px;
        font-weight: 400;
        line-height: 1.66;}
    .section-text .wrap-section-text picture{margin: 0 0 11px;}
    .section-text .wrap-section-text p{margin: 0 0 20px;}
/* PRODUCTS */
    .section-products{padding: 26px 0 34px;}
    .section-products h3{font-size: 12px;}
    .section-products .products{padding: 0;}
    .section-products .slider-item .product{
        width: 136px;
        margin:49px 30px 45px;
    }
    .section-products .slider-item .product .image-holder{margin: 0 0 39px;}
    .slick-dots button {
        width: 7px;
        height: 7px;
        padding: 1px;
    }
    .slick-dots li{margin: 0 3px;}
/* image-slider */
    .image-slider .buttons-links{
        font-size: 12px;
        padding: 32px 23px;
    }
    .image-slider .buttons-links .btn{
        display: block;
        width: 191px;
        padding: 8px 11px;
        margin: 15px auto;
    }
    .whatsapp{
        position: fixed;
        top: 601px;
        right: 16px;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
    }
    .whatsapp svg{
        width: 32px;
        height: 32px;
    }

    .link-register-contact{
        position: fixed;
        top: 601px;
        left: 0;
        display: inline-block;
        width: 100%;
        padding: 21px 0 23px;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        color: #303C49;
        background: #ffffff;
        text-decoration: none;
        z-index: 1009;
    }
    .register{
        position: relative;
        color: #303C49;
        background: #F2F3F4;
        padding: 16px 27px 34px;
        text-align: center;
        z-index: 1010;
    }
    .register h3{
        color: #303C49;
    }
    .register .contact-form-warning{
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.25;
        margin: 0 0 28px;
        text-align: right;
    }
    .register strong{
        color: #303C49;
    }
    .register strong a{
        margin: 0 10px 0 0;
        color: #303C49;
    }
    .register div form p{
        display: block;
        margin: 0 auto;
    }
    .register form p .wpcf7-form-control-wrap{
        margin: 0;
    }
    .register input[type='tel'],
    .register input[type='text'],
    .register input[type='email']{
        font-family: inherit;
        width: calc(100% - 107px);
        padding: 6px 30px;
        margin: 0 auto 22px;
        text-align: center;
    }
    .register input[type='submit']{
        width: 93px;
        margin: 7px auto 32px;
        font-family: inherit;
        line-height: 30px;
        color: #F2F3F4;
        background: #303C49;
    }

    .register input::-webkit-input-placeholder {
        font: 700 12px 'Heebo', sans-serif;
        color: #7d7d7d;
    }
    .register input::-moz-placeholder {
        font: 700 12px 'Heebo', sans-serif;
        color: #7d7d7d;
    }
    .register input:-ms-input-placeholder {
        font: 700 12px 'Heebo', sans-serif;
        color: #7d7d7d;
    }
    .register input::-ms-input-placeholder {
        font: 700 12px 'Heebo', sans-serif;
        color: #7d7d7d;
    }
    .register input::placeholder {
        font: 700 12px 'Heebo', sans-serif;
        color: #7d7d7d;
    }
    .register input::placeholder:focus{
        opacity: 0.3;
    }

    .footer-logo {
        padding: 36px 0;
    }
    .footer-social-link{
        text-align: center;
        padding: 37px 20px 100px;
    }
    .footer-social-link a{
        display: inline-block;
        margin: 0 10px;
    }
    .footer-social-link a svg{
        fill: #303C49;
    }
    .footer-social-link .link-facebook svg{
        width: 14px;
        height: 28px;
    }
    .footer-social-link .link-youtube svg{
        width: 73px;
        height: 16px;
        padding: 5px 0;
    }
    .footer-social-link .link-instagram svg{
        width: 28px;
        height: 28px;
    }
}
@media screen and (min-width: 860px){
    .whatsapp {
        width: 74px;
        height: 74px;
        bottom: 270px;
        right: 14px;
    }
    #footer{
        background: #303C49;
        padding: 20px 20px 181px;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 1617px ;
        margin: 0 auto;
    }
    .footer-container .footer-logo {
        margin: 0 0 0 53px;
        padding:0;
    }
    .footer-container .footer-logo a{
        display: inline-block;
    }
    .footer-container a svg{
        fill: #FFFFFF;
    }
    .footer-container .footer-social-link a{
        margin: 0 17px;

    }
    .footer-social-link .link-facebook svg{
        width: 22px;
        height: 46px;
    }
    .footer-social-link .link-youtube svg{
        width: 121px;
        height: 27px;
        padding: 9px 0;
    }
    .footer-social-link .link-instagram svg{
        width: 46px;
        height: 46px;
    }
}
@media screen and (min-width: 1360px){
    .whatsapp {
        position: fixed;
        bottom:256px;
        right: 100px;
        width: 109px;
        height: 109px;
    }
}
@media screen and (min-width: 1660px){
    .register{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22px 0;
    }
    .register h3{
        margin: 0;
    }
    .register div form p{
        margin: 0 46px 0 31px;
    }
    #footer{
        padding: 18px 20px 105px;
    }

}